mat-grid-tile {
    width: 100%;
    height: 100%;
}

.grid-container {
    grid-row-gap: 50px;
  }

h2.centered-title {
    text-align: center;
}

h4.centered-title {
    text-align: center;
}
button.btn-behaviour{
    justify-content: flex-end;
    left: 67%;
}

button.btn-centrado{
    justify-content: center;
    left: 40%;
}

p.textoError {
    color: red;
    background: white;
}

.mat-icon {
    display:inline-block;
}
