<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="dark">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span><img src="./assets/logo_uah_light.png"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav #drawer mode="side" closed role="navigation">
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink='/base'>
        <mat-icon>home</mat-icon>Inicio
      </a>
      <!--<a mat-list-item routerLink='/planificadores'>
        <mat-icon>dns</mat-icon>Planificadores
      </a>-->


      <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
          <mat-icon>scatter_plot</mat-icon>Planificadores <!-- dns-->
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/planificadores">
            <mat-icon>poll</mat-icon>Simulador <!-- show_chart-->
          </a>
          <a mat-list-item routerLink="/ejemplo">
            <mat-icon>image_aspect_ratio</mat-icon>Ejemplo
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>


    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>